@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kufam&family=Oswald&display=swap");
#about-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: rgb(2,0,36); */
  /* background: linear-gradient(#0C1717, #17403E, #132222); */
  padding: 0px 0px;
  height: 100vh;
  /* background: linear-gradient(#FF6F61, #FFD166, #6B4226); */
  /* background: linear-gradient(#1a462f, #0e5a49, #17403E); */
  /* background: linear-gradient(#112525, #16403d, #132222); */
  z-index: 1;

  /* background: linear-gradient(#031717, #112e2d, #132222); */

  /* background: linear-gradient(#428C65, #226556, #17403E); */
}

#about-section .logo {
  width: 50%;
  height: auto;
  text-align: center;
}

#about-section .content {
  width: 50%;
  text-align: left;
  font-family: "Kufam", sans-serif;
  padding: 40px;
}

#about-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: 600;
  color: #00cf90;
}

#about-section h3 {
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 400;
  color: #b7e7d9;
}

#about-section button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #498b88;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 8px;
  font-family: "Kufam", sans-serif;
  box-shadow: 0px 4px 4px 0px #00000040;
  /* box-shadow: 4px 4px 4px 0px #00000040 inset; */
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
}

.timer-box {
  background-color: #498b88;
  padding: 8px;
  margin: 4px 2px;
  border-radius: 5px;
  font-size: 30px;
  font-family: "Kufam", sans-serif;
  text-align: center;
  color: #ffffff;
}

.timer-full {
  display: grid;
  grid-template-columns: auto auto;
}

#timer .text {
  font-size: 12px;
  font-family: "Kufam", sans-serif;
  color: #ffffff;
}

@media (max-width: 768px) {
  #about-section {
    flex-direction: column;
    text-align: center;
    padding: 0px 0px;
    height: max-content;
  }

  #about-section .content {
    width: fit-content;
    padding: 20px 20px;
    margin: auto;
  }

  #about-section button {
    /* padding: 5px 10px; */
    font-size: 1em;
    /* width: 70%; */
    margin: auto;
  }

  .logo img {
    height: 175px;
    width: 175px;
  }

  #about-section h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  #about-section h3 {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .timer-section {
    margin: 0 5px;
  }

  .timer-box {
    padding: 5px;
    margin: 3px 2px;
    border-radius: 4px;
    font-size: 20px;
  }

  #timer .text {
    font-size: 9px;
    font-family: "Kufam", sans-serif;
    color: #ffffff;
  }
}

@media (max-width: 540px) {
  #about-section button {
    width: 50%;
  }
}

#about-section button:hover {
  background-color: #499894;
}
#about-section button:active {
  box-shadow: 4px 4px 4px 0px #00000040 inset;
}
