@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --background: #24262b;
  --boldtext: #00CF90;
  --iconbg: #ffffff;
  --h4font: 18px;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
#footer {
  background: #091616;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul {
  list-style: none;
}
.logo h5 {
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-family: "Josefin Sans", sans-serif;
  color: var(--boldtext);
  font-size: 30px;
  /* padding-left: 10px; */
}
.logo p {
  padding-left: 18px;
}
footer {
  /* background-color: var(--background); */
  padding: 70px 0;
}
.footer-col {
  /* width: 25%; */
  padding: 0 15px;
}
.footer-col h4 {
  font-size: var(--h4font);
  color: var(--boldtext);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--iconbg);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--boldtext);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: var(--iconbg);
  background-color: var(--boldtext);
}
/* .bottom{
	font-size: 1rem;
	color: var(--iconbg);
	background-color: var(--background);

	
}
.bottom p{
	text-align: center;
} */
#footer .copyright {
  margin-top: 40px; 
  color: #bbbbbb; 
  font-size: 1.2rem; 
  text-align: center; 
}


/*responsive*/
@media (max-width: 767px) {
  .container{
    flex-direction: column;
  }
  .footer-col {
    /* width: 100%; */
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo p {
    padding-left: 40px;
}
.logo h5{
  padding-left: 20px;
}
  
  
}
