body {
  --d: 3000px;
  --angle: 120deg;
  overflow: auto;
  /* background: linear-gradient(#0C1717, #17403E, #132222); */
  /* background: repeating-linear-gradient(#0c1717, #17403e, #132222, #0c1717); */
  background: repeating-linear-gradient(
    var(--angle),
    #0c1717,
    #17403e,
    #132222,
    #0c1717 var(--d)
  );
  background-size: calc(var(--d) / sin(var(--angle))) 100%;
  animation: AnimationName 5s linear infinite reverse;
}

@keyframes AnimationName {
  0% {
    background-position: calc(var(--d) / sin(var(--angle))) 0;
  }
}
#moveToTop {
  border: 1px solid #00cf90; /* Set the border color to green */
  border-radius: 50%;
  height: 55px;
  width: 55px;
  position: fixed;
  bottom: -100px;
  right: 15px;
  cursor: pointer;
}

#imageArrow {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
