#leaderboard {
  padding: 100px 0px;
  font-family: "Kufam", sans-serif;
  margin-bottom: 20px;
}

#leader-content h1 {
  color: #00cf90;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 10px;
}
#leadercontainer {
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  border:white solid 1px;
}
.participant {
  display: flex;
  background: #869695;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
  height: 3rem;
  margin: 3px 0px;
  padding: 20px;
  padding-top: 25px;
}

.participant:hover {
  box-shadow: 0px 40px 56px rgba(8, 157, 60, 0.05);
  transition: 0.3s;
  transform:translateY(-1px);
}

.participant-main {
  display: flex;
  background: #869695;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
  height: 3rem;
  margin: 3px 0px;
  transform: translateY(-3px);
  padding:20px;
  padding-top: 25px;
  border-bottom:white solid 1px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.particdetails {
  text-align: center;
  align-items: center;
  color: white;
  margin: 0;
  font-weight: 100;
  width: 13vw;
}
.partic{
  text-align: center;
  align-items: center;
  color: #00cf90;
  margin-top: 5px;
  font-weight: 600;
  width: 13vw;
}
.partici_icon {
  border-radius: 50%;
  object-fit: cover;
  height: 40px;
  width: 40px;
  background-color: transparent;
}
.points {
  font-weight: 100;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pointsicon {
  margin-left: 5px;
}
.totalpoints {
  font-weight: 500;
}

.participant:nth-child(1) {
  background: rgba(43, 74, 73, 1);
  padding: 0 5px;
}
.participant:nth-child(2) {
  background: rgba(9, 40, 39, 1);
}
.participant:nth-child(3) {
  background: rgba(25, 54, 53, 1);
}
.participant:nth-child(4) {
  background: rgba(33, 71, 70, 1);
}
.participant-main:nth-child(1) {
  background: rgba(43, 74, 73, 1);
  padding: 0 5px;
}
.participant-main:nth-child(2) {
  background: rgba(9, 40, 39, 1);
}
.participant-main:nth-child(3) {
  background: rgba(25, 54, 53, 1);
}
.participant-main:nth-child(4) {
  background: rgba(33, 71, 70, 1);
}
@media screen and (max-width: 1074px) {
  .participant {
    font-size: 15px;
  }
}
@media screen and (max-width: 810px) and (min-width: 600px) {
  .participant {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .participant {
    font-size: 10px;
  }
}
