* {
  margin: 0;
  padding: 0;
}

body {
  /* background:  linear-gradient(50deg, black, #498b88,black);; */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; */
}

.navbar {
  position: fixed; /* Change to fixed */
  top: 0; /* Add this line */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* background: linear-gradient(#0C1717, #071615, #132222); */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(100px);
  z-index: 3; /* Add z-index to keep it above other elements */
}

.eventname {
  margin: 10px 0px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  display: block;
  width: 254px;
  height: 37px;
  color: #00cf90;
  font-family: Kufam;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigationbar {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  /* margin-top: 17px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  color: white;
  padding: 40px 20px;
  text-decoration: none;
  transition: 0.4s;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 1; */
}

.menu li a:hover {
  color: #00cf90;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #00cf90;
  cursor: pointer;
  z-index: 2;
  transition: 0.4s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  background-color: #00cf90;
  border-radius: 10px;
  transition: 0.4s;
}

.hamburger:before {
  top: -10px;
  width: 30px;
}

.hamburger:after {
  top: 10px;
  width: 30px;
}

.toggle {
  position: absolute;
  width: 30px;
  z-index: 6;
  /* cursor: pointer; */
  height: 100%;
  opacity: 0;
}

.hamburger,
.toggle {
  display: none;
}

.navigationbar input:checked ~ .hamburger {
  background: transparent;
}

.navigationbar input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  color: yellow;
}

.navigationbar input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  color: white;
}

.navigationbar input:checked ~ .menu {
  /* display: block; */
  /* transition: 2s; */
  opacity: 1;
  transition: 0.5s;
}
.menu a.active {
  color: #00cf90;
  /* color: white; */
}

@media screen and (max-width: 986px) {
  .hamburger,
  .toggle {
    display: block;
    z-index: 5;
  }

  .menu {
    z-index: 4;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 57px; /* Adjust top value to account for the fixed navbar */
    right: 0;
    opacity: 0;
    background-color: #245a57;
    width: 100%;
    height: 100%;
    /* padding-top: 70px; */
    box-shadow: 2px 20px 50px black;
  }

  .menu li {
    width: 100%;
    background-color: #245a57;
  }

  .menu li a {
    padding: 30px;
    font-size: 28px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.126) inset;
  }
}
